{% extends "base.html" %}

{% block title %}
Achievements
{% endblock %}

{% block body %}
<div class="card-body">



{% if solved >= 1 %}
<div class="alert alert-warning">
    🏅 First Problem Solved
</div>
{% endif %}

{% if solved >= 10 %}
<div class="alert alert-success">
    🏅 Solved 10 Problems
</div>
{% endif %}

{% if solved >= 50 %}
<div class="alert alert-primary">
    🏅 Solved 50 Problems
</div>
{% endif %}

{% if solved >= 100 %}
<div class="alert alert-info">
    🏅 Century Coder
</div>
{% endif %}

</div>
{% endblock %}