{% extends "base.html" %}
{% block title %}
Problems
{% endblock %}
{% block body %}
<div class="card align-items-center">
  <div class="card-body card-body-problems">

<table class="table table-striped">
    
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Topic Tags</th>
        <th scope="col">Difficulty</th>
        <th scope="col">Acceptance</th>
        <th scope="col">Favorite</th>
        <th scope="col">Paid</th>
    </tr>
</thead>
  
  <tbody>
   
  {% for pro in problem %}

    <tr>
      <td>{{pro.frontendQuestionId}}</td>
      <td>{{pro.title}}</td>
      <td>{{pro.topicTags}}</td>
      <td>{{pro.difficulty}}</td>
      <td>{{pro.acRate}}</td>
      <td>
    <a href="{{ url_for('add_favorite', problem_id=pro.id) }}"
       class="btn btn-sm btn-outline-danger">
        ❤️ Favorite
    </a>
</td>
      <td>{{pro.paidOnly}}</td>
    </tr>
  {% endfor %}


  </tbody>
</table>
</div>
</div>
{% endblock %}